*{
    margin: 0px;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
   
}
.minioc{
    display: none;
}
.ocean{
    height: 550px;
 
}
.footer{
    display: flex;
    align-items: center;
   padding-top: 30px;
   padding-left: 100px;
   gap: 50px;
}
.BIG1{
 background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(./uae-4-2048x1367\ 2.png);
    height: 600px;
}
.come{
    margin-left: 300px;
}
.text{
    margin-left: 200px;
    
}
.q{
    display: none;
}
.IT1{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 550px;
    margin-top: 70px;
    margin-left: 100px;
}

.analis{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 500px;
}
.get{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 80px;
    align-items: center;
}

.bx{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.cd{
    width:450px;
    background-color: white;
    padding: 40px 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-top: 50px;
}

.n1{
    font-size: 70px;
    margin: 0;
    color: rgba(17, 120, 178, 0.5);
}

.tt{
    font-size: 30px;
    margin-top: 25px;
    color: black;
}

.tx{
    font-size: 22px;
    line-height: 1.6;
    margin-top: 20px;
    color: gray;
}

.consultation{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(./startup\ 3.png);
    height: 500px;
    margin-top: 100px;
   padding-top: 150px;
   padding-left: 350px;
    
}
.nation{
align-items: center;    
}

.earth1{
    display: none;
}
.earth{
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 200px;
}

.BIG2{
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 30px;
justify-content: center;
margin-top: -400px;
}







@media (max-width: 510px) {
    

    .ocean{
    display: block;   
    }

.minioc{
   
    
    height: 550px;
}
.text{
    display: none !important;
}
.footer{
    padding-left: 20px;
}
.come{
    margin-left: 130px;
}
.q{
    display: block;
    margin-left: -30px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.IT{
font-size: 40px !important;
width: 380px;
text-align: center;
margin-left: 90px;
}
.IT1{
    text-align: center;
   margin-left: 0px;


}
.qq{
    display: flex;
    text-align: center;
    margin: auto;
}
.analis{
    text-align: center;
}
.learn{
    margin: auto;
}
.w{
font-size: 30px !important;
}
.consultation{
    padding-top: 70px;
    padding-left: 50px;
}
.w0{
    width:450px !important;
}
.nation{
    width: 100% !important;
    gap: 0px !important;
    flex-direction: column;
     row-gap: 30px !important; 
}
.earth{
    display: none;
}
.earth1{
    display: block;
    margin: auto;
    margin-top: 50px;
}
.number{
    width: 80% !important;
}
.BIG2{
    margin-top: -250px;
}
.e{
    width: 550px !important;
}
}